Schedule Pipeshark.json
{
  "name": "Schedule Pipeshark",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "* * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "adae96e8-8749-461e-8dfb-4495d88aa7e9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.pipeshark.io/api/cron/launch-scheduled-campaigns?secret=8f7a2c9e1b4d6e3a5c8f0b2d4e6a8c0f1b3d5e7a9c1e3f5a7b9d1e3f5a7b9d1e",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"apikey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5anpxa3dlaXZqc3dzendydnllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NzA1MTgsImV4cCI6MjA4NTM0NjUxOH0.nNfBZstlz9bA05GWM2R02F5mj84H-mUlwlfOEMT63zs\",\n  \"Authorization\": \"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5anpxa3dlaXZqc3dzendydnllIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NzA1MTgsImV4cCI6MjA4NTM0NjUxOH0.nNfBZstlz9bA05GWM2R02F5mj84H-mUlwlfOEMT63zs\",\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "79ba2267-b594-408b-b194-309881643760",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "email_queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            },
            {
              "keyName": "scheduled_at",
              "condition": "lte",
              "keyValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d6a4d5b9-64ca-43d1-890e-2f9a25b965e3",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "HQRADv4oA8xVxPog",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        0
      ],
      "id": "6caf3842-dd4e-4faf-b630-5205f93ea9e4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "email_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "error_log"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "id": "43ddcfd6-efb1-4853-b019-5652e677147e",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "HQRADv4oA8xVxPog",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pipeshark.io/api/n8n/send-email?secret=8f7a2c9e1b4d6e3a5c8f0b2d4e6a8c0f1b3d5e7a9c1e3f5a7b9d1e3f5a7b9d1e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        -272
      ],
      "id": "365150f0-757b-40be-85bb-cdcdd26fd4c1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7105a8cc-e9ea-4211-a64e-5feb17ad0aea",
              "leftValue": "={{ $json.delivery_type }}",
              "rightValue": "send",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        0
      ],
      "id": "3151dff3-ee4f-41b8-bd43-c99ca19c97ec",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pipeshark.io/api/n8n/create-draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        400
      ],
      "id": "d67ec332-b736-4bcd-aeda-e89392b23887",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "o7xidfnVAEJ9Vqds",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "email_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "scheduled_at",
              "condition": "gte",
              "keyValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "draft"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "error_log"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        240
      ],
      "id": "dc132263-8175-4fa9-85a6-0257d90e2017",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "HQRADv4oA8xVxPog",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pipeshark.io/api/n8n/send-email?secret=8f7a2c9e1b4d6e3a5c8f0b2d4e6a8c0f1b3d5e7a9c1e3f5a7b9d1e3f5a7b9d1e",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sender_account_id",
              "value": "={{ $json.sender_account_id }}"
            },
            {
              "name": "recipient",
              "value": "={{ $json.recipient }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.body }}"
            },
            {
              "name": "queue_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "lead_id",
              "value": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        0
      ],
      "id": "a006a5e4-3e80-4382-9add-bb04db48065d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.pipeshark.io/api/n8n/create-draft",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "queue_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        224
      ],
      "id": "fcb92f9e-1e48-4a35-9061-b0cbf7b24324",
      "name": "HTTP Request4",
      "credentials": {
        "httpBearerAuth": {
          "id": "o7xidfnVAEJ9Vqds",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "email_queue",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "pending"
            },
            {
              "keyName": "scheduled_at",
              "condition": "lte",
              "keyValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        528,
        416
      ],
      "id": "db3f1dee-1c7a-4f4c-a587-9ab020b9d1a1",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "HQRADv4oA8xVxPog",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "email_queue",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.queueId }}"
            },
            {
              "keyName": "scheduled_at",
              "condition": "gte",
              "keyValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "error_log"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1312,
        -400
      ],
      "id": "cfd68348-bfee-4d03-b234-c87e7432119f",
      "name": "Update a row2",
      "credentials": {
        "supabaseApi": {
          "id": "HQRADv4oA8xVxPog",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c8d31009-d028-4808-bdad-90ba5591b8f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5914f9856bcd3bd902ba329221d89dbc5a86282b035121aa1c164414b37560d"
  },
  "id": "lj5opSndfdphQsvl",
  "tags": []
}